<mat-card>
    <mat-card-header>
        <mat-card-title>Your Mortgage Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
            <div fxFlex="33.5" fxLayoutAlign="center center" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
                <div class="payment-amount">
                    <img src="assets/img/dollar-hand.svg" class="logo" alt="Mortgages Payment Calculator">
                    <span class="headline"> {{ summary.payment | currency:'CAD' }} / {{ summary.frequencyLabel }} </span>
                </div>
            </div>
            <div fxFlex="66.5" fxLayout="column" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
                <table>
                    <tr>
                        <th>Number of Payments</th>
                        <th>Principal Payments</th>
                        <th>Interest Payments</th>
                        <th>Total Cost</th>
                    </tr>
                    <tr>
                        <td>{{ summary.firstTerm.numPayments }}</td>
                        <td>{{ summary.firstTerm.paidPrincipal | currency:'CAD' }}</td>
                        <td>{{ summary.firstTerm.paidInterest | currency:'CAD' }}</td>
                        <td>{{ summary.firstTerm.paidInTotal | currency:'CAD' }}</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Number of Payments</th>
                        <th>Principal Payments</th>
                        <th>Interest Payments</th>
                        <th>Total Cost</th>
                    </tr>
                    <tr>
                        <td>{{ summary.allTerms.numPayments }}</td>
                        <td>{{ summary.allTerms.paidPrincipal | currency:'CAD' }}</td>
                        <td>{{ summary.allTerms.paidInterest | currency:'CAD' }}</td>
                        <td>{{ summary.allTerms.paidInTotal | currency:'CAD' }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>
