$table-border-color: #ddd;

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  overflow-x: scroll;

  caption {
    text-align: center;
    padding: 8px;
    border: 1px solid $table-border-color;
  }

  th, td {
    text-align: left;
    border: 1px solid $table-border-color;
    padding: 5px;
  }

  th, caption {
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    font-weight: bold;
  }

  tr:hover {
    background-color: #ddd;
  }
}

.payment-amount {
  margin-top: 16px;
  padding: 10px;
  border-bottom: 1px solid var(--primary-lighter-color);
  text-align: center;

  .logo {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }
}
