<mat-card>
    <mat-card-header>
        <mat-card-title>Your Mortgage Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
            <div fxFlex="33.5" fxLayoutAlign="center center" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
                <div class="payment-amount">
                    <img src="assets/img/dollar-hand.svg" class="logo" alt="Mortgages Payment Calculator">
                    <span class="headline"> {{ summary.payment | currency:'CAD' }} / {{ summary.frequencyLabel }} </span>
                </div>
            </div>
            <div fxFlex="66.5" fxLayout="column" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
                <ng-template
                    [ngTemplateOutlet]="mortgageSection"
                    [ngTemplateOutletContext]="{ caption: 'Term', section: summary.firstTerm }">
                </ng-template>
                <ng-template
                    [ngTemplateOutlet]="mortgageSection"
                    [ngTemplateOutletContext]="{ caption: 'Amortization Period', section: summary.allTerms }">
                </ng-template>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #mortgageSection let-caption="caption" let-section="section">
    <table>
        <caption>{{ caption }}</caption>
        <tr>
            <th>Number of Payments</th>
            <th>Principal Payments</th>
            <th>Interest Payments</th>
            <th>Total Cost</th>
        </tr>
        <tr>
            <td>{{ section.numPayments }}</td>
            <td>{{ section.paidPrincipal | currency:'CAD' }}</td>
            <td>{{ section.paidInterest | currency:'CAD' }}</td>
            <td>{{ section.paidInTotal | currency:'CAD' }}</td>
        </tr>
    </table>
</ng-template>
