<h1 class="header">
    <img src="assets/img/icon-calc.svg" class="logo" alt="Mortgages Payment Calculator">
    <span>Mortgages Payment Calculator</span>
</h1>
<div class="container">
    <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
        <img fxFlex="33.5" fxHide.lt-sm src="assets/img/house.jpeg" class="home-calculator" alt="House with keys">
        <app-payment-plan fxFlex="66.5"
            (calculate)="onPaymentPlanChange($event)"
            (resetSummary)="onPaymentPlanReset()">
        </app-payment-plan>
    </div>
    <div @inOutAnimation fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px" *ngIf="summary">
        <app-payment-summary fxFlex="100"
             [summary]="summary">
        </app-payment-summary>
    </div>
</div>
