.header {
  padding: 10px 10% 0 10%;

  .logo {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }
}

.container {
  width: 80%;
  padding: 0 10%;

  app-payment-plan {
    margin-bottom: 16px;
  }

  app-payment-summary {
    margin-bottom: 16px;
  }

  .home-calculator {
    max-height: 310px;
  }
}
