.header {
  padding: 16px 10% 0 10%;
  color: var(--primary-color);

  .logo {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }
}

.container {
  width: 80%;
  padding: 0 10%;

  app-payment-plan, app-payment-summary {
    margin-bottom: 16px;
  }

  .home-calculator {
    max-height: 320px;
    border-radius: 5px;
  }
}

.mobile {
  &-container {
    width: 95%;
    padding: 0 2.5%;
  }
  &-header {
    padding: 0;
    margin: 16px;
  }
}
